* {
  box-sizing: border-box;
}

@media (width > 1920px) {
  :root {
    font-size: 0.83333vw;
  }

  .page-content {
    display: flex;
    justify-content: space-around;
  }
}

@media (width >= 452px) and (width <= 1920px) {
  :root {
    font-size: 16px;
  }

  .page-content {
    display: flex;
    justify-content: space-around;
  }
}

@media (width >= 225px) and (width < 452px) {
  :root {
    font-size: 3.5vw;
  }

  .page-content {
    display: flex;
    justify-content: space-around;
  }
}

@media (width < 225px) {
  :root {
    font-size: 7.875px;
  }

  .page-content {
    display: flex;
    justify-content: flex-start;
  }
}

:root {
  --box-width: 4.8rem;
  --box-margin: 0.2rem;
  --box-border: 0.1875rem;
}

.page-header {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 2rem;
  margin: var(--box-width) 0;
  padding-bottom: var(--box-margin);
  border-bottom: 3px solid brown;
}

.game-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  flex: 0 0 calc((var(--box-width) + var(--box-margin) + var(--box-margin)) * 5);
  margin: calc(var(--box-margin) * 2);
}

.char-block {
  width: var(--box-width);
  height: var(--box-width);
  border: var(--box-border) solid #eeeeee;
  margin: var(--box-margin);
}
