* {
  box-sizing: border-box;
}

@media (width > 1920px) {
  :root {
    font-size: 0.83333vw;
  }

  .page-content {
    justify-content: space-around;
  }
}

@media (width >= 452px) and (width <= 1920px) {
  :root {
    font-size: 16px;
  }

  .page-content {
    justify-content: space-around;
  }
}

@media (width >= 225px) and (width < 452px) {
  :root {
    font-size: 3.5vw;
  }

  .page-content {
    justify-content: space-around;
  }
}

@media (width < 225px) {
  :root {
    font-size: 7.875px;
  }

  .page-content {
    justify-content: flex-start;
  }
}

:root {
  --box-width: 4.8rem;
  --box-margin: 0.2rem;
  --box-border: 0.1875rem;
}

.page-header {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 2rem;
  margin: var(--box-width) 0;
  padding-bottom: var(--box-margin);
  border-bottom: 3px solid brown;
}

.page-content {
  display: flex;
  position: relative;
}

.message-holder {
  position: absolute;
  width: 100%;
  margin: calc(var(--box-margin) * 2);
  z-index: 1000;
}

.message-content {
  border: 1px solid black;
  margin: auto;
  width: calc(var(--box-width) * 3);
  height: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease-in-out;
}

.message-content.hidden {
  opacity: 0;
}

.message-content.visible {
  opacity: 1;
}

.spinner-container {
  position: absolute;
  z-index: 2000;
}

.spinner {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  opacity: 0;
  width: 11rem;
  height: 11rem;
  padding-bottom: 0.242rem;
  padding-left: 0.11rem;
}

.spinner.spinning {
  opacity: 0.5;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.game-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  flex: 0 0 calc((var(--box-width) + var(--box-margin) + var(--box-margin)) * 5);
  margin: calc(var(--box-margin) * 2);
}

.char-block {
  width: var(--box-width);
  height: var(--box-width);
  margin: var(--box-margin);
  position: relative;
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  transition: transform ease-in-out 600ms;
  text-transform: uppercase;
  transform: rotateX(0deg);
  backface-visibility: hidden;
  border: var(--box-border) solid #eeeeee;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  transition: transform ease-in-out 400ms;
  text-transform: uppercase;
  transform: rotateX(180deg);
  backface-visibility: hidden;
  color: #ffffff;
  border: var(--box-border) solid;
}

.front.flip {
  transform: rotateX(180deg);
}

.back.flip {
  transform: rotateX(0deg);
}

.green {
  background-color: #6aaa64;
  border-color: #6aaa64;
}

.yellow {
  background-color: #c9b458;
  border-color: #c9b458;
}

.grey {
  background-color: #787c7e;
  border-color: #787c7e;
}

.victory-dance {
  animation: victory-dance 1000ms ease-in-out 0ms 1;
}

@keyframes victory-dance {
  0%,
  20% {
    transform: translateY(0rem);
  }
  40% {
    transform: translateY(-1.875rem);
  }
  50% {
    transform: translateY(0.3125rem);
  }
  60% {
    transform: translateY(-0.9375rem);
  }
  80% {
    transform: translateY(0.125rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
