:root {
  /* Dimensions */
  --page-header-height: 5rem;
  --pane-margin: 1.25rem;

  /* Colors */
  --header-bg-color: #412316;
  --content-page-bg-color: #eff0ef;
  --content-pane-bg-color: #eee1d5;
  --pane-header-text-color: #915a2f;
  --item-bottom-border-color: #ddb892;
  --ingredients-font-color: #b08968;
  --input-border-color: #885a2d;
}

* {
  box-sizing: border-box;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.header {
  height: var(--page-header-height);
  background-color: var(--header-bg-color);
  margin: 0px;
}

.page-content {
  background-color: var(--content-page-bg-color);
  /* height: calc(100vh - var(--page-header-height)); */
  padding: var(--pane-margin);
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--pane-margin);
  column-gap: var(--pane-margin);
  grid-template-areas:
    'items-pane name-pane'
    'items-pane payments-pane'
    'checkout-pane checkout-pane';
}

.content-pane {
  background-color: var(--content-pane-bg-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.items-pane {
  grid-area: items-pane;
}

.name-pane {
  grid-area: name-pane;
}

.payments-pane {
  grid-area: payments-pane;
}

.checkout-pane {
  grid-area: checkout-pane;
}

.pane-header {
  text-transform: uppercase;
  color: var(--pane-header-text-color);
  padding: 0.4rem 0rem;
}

.items-list {
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  column-gap: 0.2rem;
  border-bottom: 2px solid var(--item-bottom-border-color);
  padding: 0.75rem 0rem;
}

.item-dtls {
  line-height: 1.75rem;
}

.item:last-child {
  border: 0;
}

.emphasize {
  font-weight: bold;
}

.item-ingredients ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.85rem;
  color: var(--ingredients-font-color);
}

.input-container {
  position: relative;
}

.input-container > .input-label {
  display: block;
  position: absolute;
  color: var(--input-border-color);
  background-color: var(--content-pane-bg-color);
  font-size: 0.7rem;
  left: 1.25rem;
  top: 0.55rem;
  padding: 0rem 0.35rem;;
}

.input-container > .input-control {
  display: block;
  border-radius: 1.25rem;
  padding: 0.65rem 0.6rem;
  margin: 1rem 0rem;
  border: 2px solid var(--input-border-color);
  background-color: transparent;
  width: 100%;
}

.input-container > .input-control.short-input {
  width: 50%;
}
